<table>
  <thead>
    <tr>
      <th>Filename</th>
    </tr>
  </thead>

  <tbody>
    <% @sources.each do |source| %>
      <tr>
        <td><%= source.filename %></td>
      </tr>
    <% end %>
  </table>
</table>
