<%= form_tag custom_queries_path, :method => :post, :id => "query_form" do %>
  <p>
    <b>Name:</b><br />
    <input type="text" name="name" size="50" />
  </p>

  <p>
    <b>Query:</b><br />
    <textarea name="query" rows="30" cols="80"></textarea>
  </p>

  <% _save_and_run_buttons %>
<% end %>
